<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
</head>
<body>

    {% extends 'plantillas/app/base.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %}

        <h1 class="display-6 text-center">Proyecto Final Mathias Armenti</h1>

        <p class="display-7 text-center">Mi nombre es Mathias Armenti y este es un párrafo</p>


        <h2 class="display-6 text-center" style="font-size: 20px">Autor: Mathias Armenti</h2>
    {% endblock %}


</body>
</html>