
{% extends 'plantillas/app/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    {% block contenidoQueCambia %}
    <h2>Clientes</h2>
    <div style="display: flex; justify-content: center; align-items: center; height: 40vh;">
        <form method= "post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Agregar Cliente</button>
        </form>
    </div>
        {% endblock %}


</body>
</html>