{% extends 'plantillas/app/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    {% block contenidoQueCambia %}
    <h1 class="display-6 text-center" style="font-size: 50px">Agregar Producto</h1>
    <p class="display-7 text-center" style="font-size: 15">Ingresar nuevo producto</p>

            <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Agregar Producto</button>
                </form>
            </div>
    {% endblock %}
</body>