<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>

    {% extends 'plantillas/app/base.html' %}

    {% load static %}
    
    {% block contenidoQueCambia %} 
    
    <h1>Productos</h1>

    <ul>
        {% for producto in object_list %}
            <li class="display-6" style="font-size: 16px">
                <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
                <p>
                    <a href="{% url 'Detail' producto.id %}">Ver</a>
                    <a href="{% url 'Edit' producto.id %}">Editar</a>
                    <a href="{% url 'Delete' producto.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Borrar</a>
                </p>
            </li>
        {% endfor %}
    </ul>

    {% endblock %}

</body>
</html>
